
<tr>
  <td><%= doctor.crm %></td>
  <td><%= doctor.name %></td>
  <td>
    <%= link_to edit_doctor_path(doctor), class:"btn btn-warning btn-circle" do %>
      <i class='fa fa-edit'></i>
    <% end %>
  </td>
  <td>
    <%= link_to edit_doctor_path(doctor), class:"btn btn-warning btn-circle" do %>
      <i class='fa fa-edit'></i>
    <% end %>
  </td>
</tr>
