<h1 class="text-center mt-4">Nossos Médicos</h1>
<table class="table">
   <thead>
      <tr>
        <th scope="col">CRM</th>
        <th scope="col">Nome</th>
        <th scope="col">Editar</th>
        <th scope="col">Remover</th>
      </tr>
    </thead>
    <tbody>
      <%= render @doctors %>
    </tbody>
    </table>