<h1 class="text-center mt-4">Nossos Médicos</h1>
<table class="table">
   <thead>
      <tr>
        <th scope="col">CRM</th>
        <th scope="col">Nome</th>
        <th scope="col">Editar</th>
        <th scope="col">Remover</th>
      </tr>
    </thead>
    <tbody>
      <%= render @doctors %>
    </tbody>
    </table>

<%= raw pagy_bootstrap_nav(@pagy) %>
<div class="row justify-content-center">
  <%= link_to "Novo Médico", new_doctor_path, class: "btn btn-primary col-2" %>
</div>
  