@import 'bootstrap/dist/css/bootstrap';

.nav{
  background-color: grayscale($color: #d3d3d3);
}

.search-area {
  padding-top: 50px;
}


.results-block{
  margin-top: 50px;
  display: inline-block;
}

.table{
  margin-top: 50px;

}