<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to "DASHBOARD", root_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Médicos", doctors_path, class:"nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Pacientes", patients_path, class:"nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Consultas", new_appointment_path, class:"nav-link active" %>
  </li>
</ul>